<section class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center"
                data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <p><a href="#" class="scroll">Hello! I'm</a></p>
                    <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Rasedur Rahman Roxy
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section about-section">
    <div class="container">
        <div class="row d-flex my-5" data-scrollax-parent="true">
            <div class="col-md-4 author-img" style="background-image: url(./assets/images/home-side.jpg); background-position: top;"
                data-scrollax=" properties: { translateY: '-70%'}"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6 wrap ftco-animate">
                <div class="about-desc">
                    <h1 class="bold-text" style="z-index: -1;">About</h1>
                    <div class="p-5">
                        <h2 class="mb-5">Hi! I'm Rasedur Rahman Roxy</h2>
                        <p style="text-align: justify;">I am a Software Engineer, Opensource enthusiast. Research &
                            Development enthusiast, Working
                            on DotNet Platform. Want to be a Software System Architect in future.</p>
                        <p><a [routerLink]="['/resume']">Checkout my resume</a></p>
                        <ul class="ftco-footer-social list-unstyled mt-4">
                            <li class="ftco-animate"><a href="https://www.linkedin.com/in/md-r-rahman"
                                    target="_blank"><span class="icon-linkedin" title="LinkedIn"></span></a></li>
                            <li class="ftco-animate"><a href="https://gitlab.com/hard-rox" target="_blank"><span
                                        class="icon-gitlab" title="Gitlab"></span></a></li>
                            <li class="ftco-animate"><a href="https://twitter.com/RoxyXmw" target="_blank"><span
                                        class="icon-twitter" title="Twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/MdRoxy" target="_blank"><span
                                        class="icon-facebook" title="Facebook"></span></a></li>
                        </ul>
                        <h5>Contact me here!</h5>
                        <p>Email: <a href="mailto:roxy.xprez@gmail.com">roxy.xprez@gmail.com</a></p>
                        <p>Phone: +880 1916 17 17 60</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span>Projects</span>
                <h2>Checkout a few of my latest works</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <app-project-thumb *ngFor="let project of latestProjects; let i = index" [project]=project [index]=i></app-project-thumb>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span>Blog</span>
                <h2>Read my recent articles</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let article of latestArticles" class="col-md-4 ftco-animate">
                <app-article-thumb [article]=article></app-article-thumb>
            </div>
        </div>
    </div>
</section>