<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span>{{project.type}}</span>
                <h2>{{project.name}}</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">

                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let item of project.demoImageUrls; let i = index" [ngClass]="{'active': i === 0}" data-target="#carousel" data-slide-to="i"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div *ngFor="let item of project.demoImageUrls; let i = index" [ngClass]="{'active': i === 0}" class="carousel-item">
                            <img class="d-block w-100" src="{{item}}" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <markdown [src]="'./assets/markdowns/projects/' + project.markdownFileName"></markdown>
                
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a *ngFor="let tag of project.tags" href="#" class="tag-cloud-link">{{tag}}</a>
                    </div>
                </div>

            </div> <!-- .col-md-8 -->

        </div>
    </div>
</section>