<div class="blog-entry">
    <a [routerLink]="['/blog', article.id]" class="block-20" [ngStyle]="{'background-image': 'url(' + article.coverImageUrl + ')'}">
    </a>
    <div class="text p-4 d-block">
        <div class="meta mb-3">
            <div>{{article.publishDate}}</div>
            <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
        </div>
        <h3 class="heading"><a [routerLink]="['/blog', article.id]">{{article.title}}</a></h3>
    </div>
</div>