<section class="ftco-section about-section">
    <div class="container">
        <div class="row d-flex my-5" data-scrollax-parent="true">
            <div class="col-md-4 author-img" style="background-image: url(./assets/images/resume-side.jpg); background-position: top;"
                data-scrollax=" properties: { translateY: '-70%'}"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6 wrap ftco-animate">
                <div class="about-desc">
                    <h1 class="bold-text" style="z-index: -1;">About</h1>
                    <div class="p-5">
                        <h2 class="mb-5">Hi! I'm Rasedur Rahman Roxy</h2>
                        <p style="text-align: justify;">I am a Software Engineer, Opensource enthusiast. Research &
                            Development enthusiast, Working
                            on DotNet Platform. Want to be a Software System Architect in future.</p>
                        <p><a
                                href="https://docs.google.com/document/export?format=pdf&id=10bN3DyqKtIPzbjvr8iWl01-vlynlI07UHVi6DhakMC4&token=AC4w5Vi3eYoyDdfQmBTVrGh4j_QuRx_7Xw%3A1572673150465&includes_info_params=true">Download
                                my resume</a></p>
                        <ul class="ftco-footer-social list-unstyled mt-4">
                            <li class="ftco-animate"><a href="https://www.linkedin.com/in/md-r-rahman"
                                    target="_blank"><span class="icon-linkedin" title="LinkedIn"></span></a></li>
                            <li class="ftco-animate"><a href="https://gitlab.com/hard-rox" target="_blank"><span
                                        class="icon-gitlab" title="Gitlab"></span></a></li>
                            <li class="ftco-animate"><a href="https://twitter.com/RoxyXmw" target="_blank"><span
                                        class="icon-twitter" title="Twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/MdRoxy" target="_blank"><span
                                        class="icon-facebook" title="Facebook"></span></a></li>
                        </ul>
                        <h5>Contact me here!</h5>
                        <p>Email: <a href="mailto:roxy.xprez@gmail.com">roxy.xprez@gmail.com</a></p>
                        <p>Phone: +880 1916 17 17 60</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end mt-5">
            <div class="col-md-10">
                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Career Objective</h2>
                    <div class="exp-wrap py-4">
                        <p style="text-align: justify;">Willing to learn new things and meet new challenges to explore
                            my skills and the working field as well. I have the capability to give my best outcome in
                            any situation. I believe in professionalism and respect my work.</p>
                    </div>
                </div>

                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Skills</h2>
                    <div class="exp-wrap py-4">
                        <app-skills></app-skills>
                    </div>
                </div>


                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Experience</h2>
                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>Jr. Software Engineer <span> - Dimik Infotech Ltd.</span> </h4>
                            <p class="location">Bangladesh - Dhaka</p>
                        </div>
                        <div class="year">
                            <p>June 2018 - Present</p>
                        </div>
                    </div>
                </div>

                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Research Publications</h2>
                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>Hiding Confidential File using Audio Steganography<span> - International Journal of
                                    Computer Applications</span> </h4>
                            <p class="location"><a
                                    href="https://www.researchgate.net/publication/335879163_Hiding_Confidential_File_using_Audio_Steganography"
                                    target="_blank">ResearchGate</a></p>
                        </div>
                        <div class="year">
                            <p>Sep 18, 2019</p>
                        </div>
                    </div>
                </div>

                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Professional Certifications</h2>
                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>Web Application Development Using Dot NET<span> - BASIS</span> </h4>
                            <p class="location"><a
                                    href="http://seip.bitm.org.bd/assets/courses-outline-pdf/Curriculum-of-SEIP-Project-for-Dot-Net.pdf"
                                    target="_blank">Skills for Employment Investment Project (SEIP)</a></p>
                        </div>
                        <div class="year">
                            <p>July 18, 2017</p>
                        </div>
                    </div>
                </div>


                <div class="exp mt-5 ftco-animate">
                    <h2 class="mb-4">Academic Qualifications</h2>
                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>M.Sc in Computer Science<span> - Jahangirnagar University</span> </h4>
                            <p class="location">Savar, Dhaka</p>
                        </div>
                        <div class="year">
                            <p>Present</p>
                        </div>
                    </div>

                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>B.Sc Engg. in Computer Science & Engineering<span> - Bangladesh University of Business &
                                    Technology</span>
                            </h4>
                            <p class="location">Dhaka</p>
                        </div>
                        <div class="year">
                            <p>2014 - 2018</p>
                        </div>
                    </div>

                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>Higher Secondary School Certificate<span> - Lakshmipur Govt. College</span> </h4>
                            <p class="location">Lakshmipur</p>
                        </div>
                        <div class="year">
                            <p>2009 - 2012</p>
                        </div>
                    </div>

                    <div class="exp-wrap py-4">
                        <div class="desc">
                            <h4>Secondary School Certificate <span> - Banga Khan High School</span> </h4>
                            <p class="location">Lakshmipur</p>
                        </div>
                        <div class="year">
                            <p>2004 - 2009</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>